@{
    ViewData["Title"] = "Home Page";
}

@using SpaceTravel.Models

<div class="text-center">
    <h1 class="display-4">Welcome to Leeloo's MutliPass Space Travel Agency!</h1>
    <p>Grab your MultiPass and jet off to your next vacation destination!</p>
</div>

<img src = '@Url.Action( "show", "image", new { id = ViewData["imageId"] })' />

