@{
    ViewData["Title"] = "Home Page";
}

@using SpaceTravel.Models

<div class="text-center">
    <h1 class="display-4">Welcome to Leeloo's MutliPass Space Travel Agency!</h1>
    <p>Grab your MultiPass and jet off to your next vacation destination!</p>
</div>

  <meta charset="utf-8" />
    <main class="card-container">
        <h2>Hot Spots</h2>
            <div class="card-container">
                <section class="card-column">
                    <article class="card">
                        <img src="~/assets/images/Neptune.png" alt="Neptune">
                        <h3>Neptune Lakeside <em>$2000</em></h3>
                        <p>Quiet and quiant lakeside resort on Neptune's finest superionic water!</p>
                        <a href="#" class="button" style="display: inline-block">Add to Cart</a>
                    </article>
                </section>
                <section class="card-column">
                    <article class="card">
                        <img src="~/assets/images/Uranus.png" alt="Uranus">
                        <h3>Uranus Cityscapes <em>$2500</em></h3>
                        <p>Relax with the gorgeous views of Uranus's cityscape and have access to the nightlife with just a short teleportation!</p>
                        <a href="#" class="button" style="display: inline-block">Add to Cart</a>
                    </article>
                </section>
                <section class="card-column">
                    <article class="card">
                        <img src="~/assets/images/BlackHole.png" alt="Blazar Black Hole">
                        <h3>Coachella at Blazar <em>$5500</em></h3>
                        <p>Blazar is hosting Coachella this year, so hop on your Eco Ship and head over for a <em>BLAZING</em> time!!</p>
                        <a href="#" class="button" style="display: inline-block">Add to Cart</a>
                    </article>
                </section>
                <section class="card-column">
                    <article class="card">
                        <img src="~/assets/images/Saturn.png" alt="Saturn">
                        <h3>Sandy Shores of Saturn <em>$2550</em></h3>
                        <p>Fan of sand? Come on over to Saturn and enjoy the shore on SandWorm Island! Just be sure to not wear stripes.</p>
                        <a href="#" class="button" style="display: inline-block">Add to Cart</a>
                    </article>
                </section>
                <footer>
                    <div class="card-container">
                    <p>&copy; 2023 Leeloo's Multipass Agency</p>
                </footer>
            </div>
        </main>



    