@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>What is "personal data" ?</h3>
<p>"Personal data" means information about a person that can be linked to that person. For example, an identifiable individual’s email address, travel record and credit card number are personal data.</p>

<h3>How we collect personal data</h3>
<p>We collect personal data when you interact with us in-person (such as during travel) or through other online or offline channels, such as our websites, apps, inflight entertainment systems, and call centers. We also receive personal data collected by our affiliates, partners, loyalty program participants, service providers, travel agents, other airlines, and others who are involved in your travel experience, as well as other third parties, such as companies that provide demographic information we use to supplement information we have about you.</p>

<h3>How we use and disclose personal data</h3>
<p>We use and disclose personal data to provide and improve travel and other services, to communicate with you (including through marketing), to protect our company and others, to comply with law, and as otherwise described in our more detailed Privacy Notice.</p>

<h3>Your rights and choices</h3>
<p>You can log into your online account to access and update certain personal data and to adjust certain privacy preferences. Where appropriate, certain communications (such as marketing emails) also contain instructions for adjusting your preferences. Our detailed Privacy Notice has more information about these options. You may also contact us as described below for help or to exercise any other rights that you may have under applicable data protection law. These rights vary depending on where you reside and other factors.</p>
