@{
    ViewData["Title"] = "Destination";
}

@using SpaceTravel.Models;
@model SpaceTravel.Models.Booking;

<div class="d-flex justify-content-center" id="hot-flights"> 
    <h1 id="font">Booked flights</h1>
</div>

@if(@Model.JoinEntities.Count == 0)
    {
    <p>You don't have any trips planned with us yet!</p>
    }
    else
    {
    <h4>Trips:</h4>
    <ul>
    @foreach(BookingDestination join in Model.JoinEntities)
    {
        <li>@join.Destination.Name</li>
        @using (Html.BeginForm("DeleteJoin", "Booking"))
        {
        @Html.Hidden("joinId", @join.BookingDestinationId)
        <input type="submit" value="Delete"/>
        }
    }
    </ul>
    
}