@{
    ViewData["Title"] = "Booking";
}

@model SpaceTravel.Models.Booking;
@using SpaceTravel.Models;

<div class="d-flex justify-content-center" id="hot-flights"> 
    <h1 id="font">Your Bookings</h1>
</div>

@* <!-- @if(@Model.JoinEntities.Count == 0)
{
  <h3>Grab your Multipass, let's go!</h3>
  <h3>You don't have any travel plans with us yet.</h3>
}
else
{ --> *@

  <h3>Your planned trips:</h3>
  <ul>
    @foreach (BookingDestination join in Model.JoinEntities)
    {
      <li>@join.Destination.Name</li>

      @using (Html.BeginForm("DeleteJoin", "Booking"))
      {
      @Html.Hidden("joinId", @join.DestinationId)
      <input type="submit" value="Delete"/>
      }
    }
  </ul>
<!-- } -->
