@{
    ViewData["Title"] = "Destination";
}

@using SpaceTravel.Models;

<div class="d-flex justify-content-center" id="hot-flights"> 
    <h1 id="font">Hot flights</h1>
</div>

<div class="container" id="cardDisplay">
    @foreach (Destination destination in Model)
    {
    <div class="card" style="width: 18rem;"> 
        <figure>
            <img src=@($"{destination.Url}") class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
            <h5 class="card-title">@Html.ActionLink($"{destination.Name}", "Details", new { id = destination.DestinationId}) </h5>
            <p class="card-text">@($"{destination.Price}")</p>
            @Html.ActionLink("Book Flight", "BookFlight", "Booking", new { destinationId = destination.DestinationId }, new { @class = "btn btn-primary" })
        </div>
    </div>

    }
</div>