@{
    ViewData["Title"] = "Spinner";
}

@* <h3>Try your luck and spin the wheel</h3> *@

<div class="body">
  <button id="spin">Spin</button>
  <span class="arrow"></span>
  <div class="container" >
    <div class="one">Belarus</div>
    <div class="two">Red Giant</div>
    <div class="three">Fholston</div>
    <div class="four">Bakstana</div>
    <div class="five">Borg 9</div>
    <div class="six">Zwelta</div>
    <div class="seven">Jiji</div>
    <div class="eight">FREE TRIP</div>

  </div>
</div> 

<script type="text/javascript" src="~/js/site.js"></script>