@{
    ViewData["Title"] = "Spinner";
}

<div id="body1">
  <button id="spin">Spin</button>
  <span class="arrow"></span>
  <div class="container" id="container">
    <div id="containerdiv" class="one">1</div>
    <div id="containerdiv" class="two">2</div>
    <div id="containerdiv" class="three">3</div>
    <div id="containerdiv" class="four">4</div>
    <div id="containerdiv" class="five">5</div>
    <div id="containerdiv" class="six">6</div>
    <div id="containerdiv" class="seven">7</div>
    <div id="containerdiv" class="eight">8</div>

  </div>

  @* <script src="./main.js"></script> *@
</div>