html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(252, 227, 213);
  background-image: url(CarinaNebula.png);
}

#cardDisplay {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding-bottom: 5rem;
  grid-row-gap: 25px;


}

#showResponse {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 30%;
}

picture > img {
  object-fit: cover;
  width: 100%;
  max-height: 33vh;
}

#hot-flights {
  padding-bottom: 5rem;
  padding-top: 3rem;
}

#font {
  font-weight: bolder;
  font-size: 100px;
  color: rgb(0, 0, 0);
}

.card-column {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 320px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.card > img:first-child {
  border-radius: 7px 7px 0 0;
  margin-bottom: 20px;
}

.card h3 {
  color: rebeccapurple;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.card h3 em {
  padding: 0.25em;
  background-color: #eddbff;
  border-radius: 4px;
}

.card p {
  color: #757575;
  line-height: 1.5;
}

.button {
  text-decoration: none;
  background-color: rebeccapurple;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
}

