html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
<<<<<<< HEAD
  background-color: rgb(235, 245, 235);
=======
  background-color: rgb(196, 242, 242);
>>>>>>> main
}